.clients-container {
  color: $base-accent-color;
  font-size: 90%;
  margin-bottom: em(80);

  @include media($medium-screen-up) {
    font-size: 110%;
  }

  @include media($large-screen-up) {
    font-size: 100%;
  }
}

.clients-content-title {
  @include span-columns(12);

  font-weight: bold;
}

.clients-content-subtitle {
  @include span-columns(12);
  margin-bottom: 1em;
}

.clients-block {
  display: inline-block;
  width: 100%;
}

.clients-block-item {
  @include span-columns(6);
  padding: 0.5em 0;
  @include media($medium-screen-down) {
    @include omega(2n);
  }

  @include media($medium-screen-up) {
    @include span-columns(3);
    @include omega(4n);
    padding: 1.5em 0em;
  }
}

.clients-block-image {
  width: 100%;
  margin: 2em 0;
}

.clients-block-title {
  color: $cylinder-blue;
  font-weight: bold;
  font-size: em(22);
  line-height: 1.5;
}

.clients-block-subtitle {
  color: $dark-gray;
  font-size: em(14);
  line-height: 1.8;
}

.reviews {
  @include clearfix;
}

.review {
  margin-bottom: em(40);
  @include media($medium-screen-up){
    @include span-columns(6);
  }

  &-text {
    font-size: em(18);
    line-height: 1.7;
    display: block;
  }

  &-person {
  display: block;
  padding-top: em(20);
  }

  &-picture {
    display: inline-block;
    max-width: 3.4em;
    img {
      border-radius: 100%;
    }
  }

  &-name {
    display: inline-block;
    font-size: em(14);
    padding-left: 1em;

    &-position{
      display: block;
    }
  }
}