.clients-logos{
  @include clearfix();
  margin: 2rem 0;
}
.clients-logo-item {
  @include span-columns(6);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include media($medium-screen-down) {
    @include omega(2n);
  }
  @include media($medium-screen-up) {
    @include span-columns(3);
    @include omega(4n);
    margin-top: 3.5em;
    margin-bottom: 3.5em;
  }
}

.testimonials {
  @include outer-container;
}

.testimonial {
  margin: 0;
  margin-bottom: em(40);
  @include media($medium-screen-up){
    @include span-columns(6);
    margin-bottom: 0;
  }
}

.testimonial__quote {
  margin: 0;
  font-size: em(18);
  line-height: 1.8;
}

.testimonial__attr {
  margin-top: em(20);
  display: flex;
  align-items: center;
}

.testimonial__picture {
  max-width: 3.2em;
  margin-right: 1rem;
  > img {
    border-radius: 100%;
    display: block;
  }
}

.testimonial__author{
  font-style: normal;
}

.testimonial__position{
  display: block;
}