.global-nav {
  background-color: $light-gray;
  font-size: $base-font-size * 0.8;
  padding: 0.5em 0;
}

.wrap-container {
  max-width: none; // Override the normal wrap-container behavior.

  .global-nav-container {
    flex-direction: row;
  }
}


.logo {
  @include span-columns(1);

  @include media($medium-screen-up) {
    @include shift(1);
    @include span-columns(1);
  }
}

.global-nav-items {
  @include span-columns(11);
  @include omega();

  color: $secondary-accent-color;
  text-align: right;

  @include media($medium-screen-up) {
    @include span-columns(9);
  }
}

.global-nav-item {
  border-radius: $base-border-radius;
  display: inline-block;
  margin-right: em(20);
  padding: 0 em(5);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $highlight-background-color;
    color: $highlight-font-color;
    cursor: pointer;
  }

  a {
    color: $dark-gray;
  }
}

.global-nav-cta {
  border: em(1.5) solid $base-accent-color;
}
