$hero-text-color: $white;

@import '../animations/hero';

.hero {
  background: linear-gradient(shade($base-accent-color, 10%), tint($base-accent-color, 50%));
}

.hero-container {
  @include animation-name(hero);
  @include animation-duration(0.9s);

  padding: 3em 1em 0 0;
}

.hero-content-text {
  @include span-columns(6);

  @include media($medium-screen-up) {
    @include shift(1);
    @include span-columns(5);
  }
}

.hero-content-text-title {
  color: $hero-text-color;
  font-size: 160%;
  font-weight: 400;
  margin: 0 0 em(5);
  text-transform: uppercase;
}

.hero-content-text-subtitle {
  color: $hero-text-color;
  font-size: 100%;
  font-weight: 300;
}

.primary-cta {
  background-color: $action-color;
  border-radius: em(3);
  color: $white;
  display: inline-block;
  font-size: 110%;
  font-weight: 500;
  padding: em(5) em(10);

  a {
    color: $white;
  }

  &:hover {
    background-color: tint($light-blue, 15%);
    cursor: pointer;
  }
}

.hero-content-image {
  @include span-columns(6);

  @include media($medium-screen-up) {
    @include span-columns(5);
  }
}
