$hero-text-color: $white;

@import '../animations/hero';

.hero {
  background-image: url("/assets/images/intro-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container {
  @include animation-name(hero);
  @include animation-duration(1.3s);
  @include animation-timing-function(cubic-bezier(.72,.71,.5,1.17));
  @include media($large-screen-up){
    padding-top: 10em;
    padding-bottom: 10em;
  }
}

.hero-content {
  @include span-columns(12);
  @include media($medium-screen-up){
    @include span-columns(10);
  }
  @include media($large-screen-up){
    @include span-columns(8);
  }
}
