@include keyframes(hero) {
  from {
    @include transform(scale(0));

    opacity: 0;
  }

  50% {
    @include transform(scale(0));

    opacity: 0;
  }

  82.5% {
    @include animation-timing-function(ease-out);
    @include transform(scale(1.03));

    opacity: 1;
  }

  to {
    @include transform(scale(1));
  }
}

.hero {
  background: linear-gradient(shade($base-accent-color, 10%), tint($base-accent-color, 50%));
}

.hero-content {
  @include animation-name(hero);
  @include animation-duration(0.9s);

  padding: em(180) 0 0;
  position: relative;
}

.hero-content-text {
  @include span-columns(6);
  padding: em(50) 0 em(220);
}

.hero-content-text-title {
  color: $hero-text-color;
  font-size: em(32);
  font-weight: 400;
  margin: 0 0 em(5);
  text-transform: uppercase;
}

.hero-content-text-subtitle {
  color: $hero-text-color;
  font-weight: 300;
}

.primary-cta {
  background-color: $action-color;
  border-radius: em(3);
  color: $white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  padding: em(5) em(10);

  a {
    color: $white;
  }

  &:hover {
    background-color: tint($dark-green, 15%);
    cursor: pointer;
  }
}

.hero-content-image {
  bottom: 0;
  height: 29em;
  overflow: hidden;
  position: absolute;
  right: em(225);
  width: em(360);
}

.hero-content-image-background {
  display: none;

  @include media($large-screen-up) {
    @include span-columns(6);
    background-image: image-url('iphone.png');
    background-repeat: no-repeat;
    background-size: em(360);
    float: right;
    height: 100%;
    position: absolute;
    width: em(380);

    .hero-content-image-main {
      background-image: image-url('iphone-screen.png');
      background-repeat: no-repeat;
      height: 100%;
      margin-left: em(29);
      margin-top: em(105);
    }
  }
}
