.bumper-section {
  color: $medium-gray;
  padding: 1em 0;
}

.section-background {
  background-color: $light-gray;
}

.bumper-container {
  display: flex;
  flex-direction: row;
}

.bumper-text {
  @include span-columns(8);
}

.bumper-graphic {
  @include span-columns(4);
}

.cta-row-container {
  padding: 1em 0;
}
