.global-nav {
  background-color: #fff;
  font-size: 1.6em;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 2px 22px transparentize($cylinder-blue, .85);
  padding: 1.3em 0 1em;
}

.wrap-container {
  max-width: 1000px;

  .global-nav-container {
    flex-direction: row;
  }
}


.logo {
  @include span-columns(1);

  @include media($medium-screen-up) {
    @include span-columns(2);
  }
}

.global-nav-items {
  @include span-columns(11);
  @include omega();

  color: $secondary-accent-color;
  text-align: right;

  @include media($medium-screen-up) {
    @include span-columns(9);
  }
}

.global-nav-item {
  display: inline-block;
  margin-right: em(20);
  padding: 0 em(5);
  border-bottom: em(3) solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-bottom: em(3) solid $cylinder-blue;
    color: $cylinder-blue;
    cursor: pointer;
  }

  a {
    color: $dark-gray;
  }
}