.global-nav {
  background-color: #fff;
  font-size: em(16);
  position: fixed;
  z-index: 4;
  width: 100%;
  box-shadow: 0px 2px 22px transparentize($cylinder-blue, .85);
  padding: 1.3em 0 1em;
}

.wrap-container {
  .global-nav-container {
    @include media($large-screen-up){
      display: flex;
      justify-content: space-between;
    }
  }
}


.logo {
  @include span-columns(6);

  @include media($medium-screen-up) {
    @include span-columns(3);
  }
}

.global-nav-items {
  //@include span-columns(11);
  @include omega();

  color: $secondary-accent-color;
  text-align: right;
  
  display: none;

  @include media($medium-screen-up) {
    @include span-columns(9);
    display: block;
  }
}

.global-nav-item {
  display: inline-block;
  margin-right: em(20);
  padding: 0 em(5);
  border-bottom: em(3) solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-bottom: em(3) solid $cylinder-blue;
    color: $cylinder-blue;
    cursor: pointer;
  }

  a {
    color: $dark-gray;
  }
}