.global-nav {
  background-color: $white;
  font-size: 1.8em;
  padding: 1.5em 0;
  border-bottom: em(2) solid lighten($cylinder-blue, 20%);
}

.wrap-container {
  max-width: 1000px;

  .global-nav-container {
    flex-direction: row;
  }
}


.logo {
  @include span-columns(1);

  @include media($medium-screen-up) {
    @include span-columns(2);
  }
}

.global-nav-items {
  @include span-columns(11);
  @include omega();

  color: $secondary-accent-color;
  text-align: right;

  @include media($medium-screen-up) {
    @include span-columns(9);
  }
}

.global-nav-item {
  display: inline-block;
  margin-right: em(20);
  padding: 0 em(5);
  border-bottom: em(3) solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-bottom: em(3) solid $cylinder-blue;
    color: $cylinder-blue;
    cursor: pointer;
  }

  a {
    color: $dark-gray;
  }
}