.people {
  background-image: url("/assets/images/people-bg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.people-content {
  color: white;
  font-size: em(18);
  line-height: 1.8;
  & :last-child{
    margin-bottom: 0;
  }
  @include media($medium-screen-up){
    @include span-columns(10);
  }
  @include media($large-screen-up){
    @include span-columns(8);
  }
}
