.portfolio__list{
  margin-top: 3rem;
}

.portfolio__item{
  margin-bottom: 4rem;
  @include outer-container;
  @include media($medium-screen-down){
    margin-bottom: 6rem;
  }
}
.portfolio__image{
  margin-bottom: 2rem;
  > img{
    display: block;
    border-radius: $base-border-radius;
  }
  @include media($medium-screen-up){
    @include span-columns(5);
    margin-bottom: 0;
  }
  @include media($large-screen-up){
    @include span-columns(6);
  }
}

.portfolio__info{
  @include media($medium-screen-up){
    @include span-columns(7);
  }
  @include media($large-screen-up){
    @include span-columns(6);
  }
}

.portfolio__tags{
  margin-bottom: 1.5rem;
}

.portfolio__logo{
  margin-bottom: .5rem;
}

.portfolio__title{
  color: $cylinder-blue;
  font-weight: normal;
  margin-top: 0;
}