$digital: $cylinder-blue;
$accelerate: #69C61A;
$hiring: #FF2A76;

.services__items{
  margin-top: 3rem;
  @include media($medium-screen-up){
    margin-top: 5rem;
  }
}

.services__item {
  @include span-columns(12);
  padding: 0;
  margin-bottom: 2rem;
  line-height: 1.8;
  padding: 0 1rem;
  &:first-child{
    padding-left: 0;
    padding-right: 2rem;
  }
  &:last-child{
    margin-bottom: 0;
    padding-left: 2rem;
    padding-right: 0;
  }
  @include media($medium-screen-up) {
    @include shift(3);
    @include span-columns(7);
    margin-bottom: 1.5rem;
  }

  @include media($large-screen-up) {
    @include shift(0); // Must reset the shift if we add one in the above query.
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: 0;
  }
}

.services__icon {
  width: 15%;
  margin-bottom: 1.5rem;
}

.services__title {
  font-weight: normal;
  font-size: em(22);
  line-height: 1.3;
  .services__item--digital & {
    color: $digital;
  }
  .services__item--accelerate & {
    color: $accelerate;
  }
  .services__item--hiring & {
    color: $hiring;
  }
}
