.services-container {
  padding: 5em 0;

  @include media($medium-screen-up) {
    font-size: 110%;
    padding: 8em 0;
  }

  @include media($large-screen-up) {
    font-size: 100%;
  }
}

.services-content-title {
  @include span-columns(12);

  font-weight: bold;
}

.services-content-subtitle {
  @include span-columns(12);
  margin-bottom: 1em;
}

.services-block-items {
  display: inline-block;
}

.services-block-item {
  @include span-columns(12);
  padding: 0;
  margin-bottom: 2rem;

  // medium-screen-up must come before large-screen-up
  @include media($medium-screen-up) {
    @include shift(3);
    @include span-columns(7);
    @include omega();
    margin-bottom: 0;
    padding: 1.5em 0em;
  }

  @include media($large-screen-up) {
    @include shift(0); // Must reset the shift if we add one in the above query.
    @include span-columns(4);
    @include omega(3n);

    padding: 1.5em 0em;
  }
}

.services-block-image {
  width: 15%;
  margin: 20px 0;
}

.services-block-title {
  color: $cylinder-blue;
  font-weight: normal;
  font-size: em(20);
  line-height: 1.3;

  &--green {
    @extend .services-block-title;
    color: #69C61A;
  }

  &--red {
    @extend .services-block-title;
    color: #FF2A76;
  }
}

.services-block-subtitle {
  color: $dark-gray;
  font-size: em(14);
  line-height: 1.8;
}
