.tag{
  display: inline-block;
  background: $cylinder-blue;
  color: $white;
  margin-right: .5rem;
  margin-bottom: .2rem;
  border-radius: $base-border-radius;
  line-height: 1;
  padding: .4rem 1rem .3rem;
}