.members{
  margin-top: 3rem;
}

.member{
  margin-bottom: 3rem;
  @include media($medium-screen-up){
    @include outer-container;
  }
}

.member__picture{
  margin-bottom: 1rem;
  max-width: 20em;
  > img{
    display: block;
    border-radius: $base-border-radius;
  }
  @include media($medium-screen-up){
    @include span-columns(3);
    margin-bottom: 0;
  }
  @include media($large-screen-up){
    @include span-columns(3);
  }
}

.member__info{
  @include media($medium-screen-up){
    @include span-columns(9);
  }
  @include media($large-screen-up){
    @include span-columns(7);
  }
}

.member__name{
  color: $cylinder-blue;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: .7rem;
}

.member__position{
  display: block;
  color: $base-font-color;
}

.member__social{
  margin-bottom: 1rem;
  text-align: left;
  display: block;
  text-align: center;
  @include media($medium-screen-up){
    text-align: left;
  }
}