.work-together {
  @include linear-gradient(50deg, #434343, #3B424F);
  background-position: center center;
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
  .poster{
    @include media($medium-screen-up){
      display: flex;
      align-items: center;
    }
  }
}

.work-together-content-text {
  color: white;
  font-size: em(18);
  line-height: 1.8;
  @include media($medium-screen-up){
    @include span-columns(7);
  }
  @include media($large-screen-up){
    @include span-columns(6);
  }
}


.work-together-cta{
  @include media($medium-screen-up){
    @include span-columns(5);
    .cta{
      width: 100%;
    }
  }
  @include media($large-screen-up){
    @include span-columns(4);
    @include shift(2);
  }
}