.nav {
  &--global {
    background-color: $white;
    padding: $base-spacing / 1.2 0;
  }
}

.menu-trigger {
  display: none;
  text-align: right;

  @media (max-width: $mobile-break) {
    display: block;
  }
}

.nav-links {
  text-align: right;

  a {
    color: $medium-gray;
    margin-left: $base-spacing;

    &:hover {
      color: $dark-blue;
    }
  }

  @media (max-width: $mobile-break) {
    @include position(absolute, 72px null null 0px);
    background: rgba(#fff, 0.95);
    min-height: 100vh;
    opacity: 0;
    transform: translateY(10%);
    width: 100%;
    z-index: -1;
  }

  &.active {
    transform: translateY(0%);
    transition: all 0.2s linear;
    opacity: 1;
    z-index: 3;

    a {
      display: block;
      margin: 0;
      padding: $base-spacing 0;
      text-align: center;
      width: 100%;
    }

    a:before {
      background: transparent;
    }
  }
}
