html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  padding: 0 $large-spacing;
  max-width: 1200px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 $base-spacing;
  }
}

.vertical-spacer {
  margin: $large-spacing 0;

  &--small {
    margin: $small-spacing 0;
  }
}

section {
  padding: $large-spacing * 2 0;

  @media (max-width: 768px) {
    padding: $large-spacing 0;
  }
}

.highlight-background {
  background-color: $cylinder-blue;
  color: $white;
}

.light-background {
  background-color: lighten($light-gray, 10);
}

#people {
  background-image: image-url("illustration/people-illustration.svg");
  background-position: 90% 125%;
  background-repeat: no-repeat;
  border-bottom: 4px solid #0065C3;
  min-height: 230px;

  @media (max-width: 768px) {
    padding-bottom: 150px;
    background-position: center bottom;
    background-size: 70% auto;
  }
}
