html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  padding: 0 $large-spacing;
  max-width: 1200px;
  width: 100%;
}

.vertical-spacer {
  margin: $large-spacing 0;

  &--small {
    margin: $small-spacing 0;
  }
}

section {
  padding: $large-spacing * 2 0;
}

.highlight-backgroud {
  background-color: $cylinder-blue;
  color: $white;
}

.light-background {
  background-color: lighten($light-gray, 10);
}
