$light-font-family: 'Avenir-Light', Helvetica, sans-serif;
$book-font-family: 'Avenir-Book', Helvetica, sans-serif;
$medium-font-family: 'Avenir-Medium', Helvetica, sans-serif;
$bold-font-family: 'Avenir-Heavy', Helvetica, sans-serif;

// Typography
$base-font-family: $medium-font-family;
$heading-font-family: $bold-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;
$mobile-break: 768px;

// Colors
// Basic Colors
$white: #fff;
$black: #000;
$yellow: #f2d168;

// Brand Colors
$light-blue: #73bdf8;
$cylinder-blue: #2a98ff;
$dark-blue: #004F98;

$light-gray: #d5dde5;
$medium-gray: #627180;
$dark-gray: #10202f;

// Page Colors
$base-accent-color: $dark-gray;
$secondary-accent-color: $light-gray;
$base-background-color: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $cylinder-blue;

// Hover colors
$highlight-background-color: $light-blue;
$highlight-font-color: $white;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Font Sizes
$base-font-size: 1rem;
$h1-font-size: 2.5rem;
$h2-font-size: $base-font-size * 1.6;
$h3-font-size: $base-font-size * 1.3;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size * 1.15;
$h6-font-size: $base-font-size;
