=favicon_tag '/assets/images/favicons/favicon@2x.png', :rel => 'icon', :type => 'image/png', :sizes => '32x32'
=favicon_tag '/assets/images/favicons/favicon.png', :rel => 'icon', :type => 'image/png', :sizes => '16x16'
